<!DOCTYPE html>
<html>
    <head>
        <title>{{ .Title }} | Fingerprinter</title>
        <link type="text/css" rel="stylesheet" href="{{ .Baseurl }}static/style.css">
    </head>
    <body>
        <a href="{{ .Baseurl }}"><header>Fingerprinter</header></a>
        <div id="main">
            {{ template "body" . }}
        </div>
        <footer>Fingerprinter by <a href="https://netdecorator.org">Dominik Pataky</a> | <a href="https://github.com/cooox/fingerprinter">Source code</a></footer>
    </body>
</html>
